In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [12]:
# Loading data
file_path = Path("Resources/american_airline.csv")
df_flights = pd.read_csv(file_path)
df_flights.head()
df_flights_non_na = df_flights.dropna()

/var/folders/p2/rs4sq3nx6y74n6d0b0rzzx380000gn/T/ipykernel_12521/1997617379.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights = pd.read_csv(file_path)

In [13]:
len(df_flights)

725984

In [15]:
df_flights = df_flights_non_na

In [16]:
# use one-hot encoding to change origin_airport & destination_airport to numerical data
df_flights = pd.get_dummies(df_flights, dtype=float)

In [17]:
# Define features set
X = df_flights.copy()
X.drop("cancelled", axis=1, inplace=True)
X.head()

,month,day,day_of_week,flight_number,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,...,destination_airport_SMF,destination_airport_SNA,destination_airport_STL,destination_airport_STT,destination_airport_STX,destination_airport_SYR,destination_airport_TPA,destination_airport_TUL,destination_airport_TUS,destination_airport_XNA
0,1,1,4,2336,10,2.0,-8.0,12.0,14.0,280,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,4,258,20,15.0,-5.0,15.0,30.0,285,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,4,1112,30,19.0,-11.0,17.0,36.0,195,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,4,1674,35,27.0,-8.0,21.0,48.0,268,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,4,371,100,52.0,-8.0,30.0,122.0,338,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# Define target vector
y = df_flights["cancelled"].values.reshape(-1, 1)
y[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]])

In [19]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [20]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [21]:
# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

In [22]:
 # Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Fitting Decision Tree Model

In [23]:
 # Creating the decision tree classifier instance
model = tree.DecisionTreeClassifier()

In [24]:
# Fitting the model
model = model.fit(X_train_scaled, y_train)

### Making predictions using Tree Model

In [25]:
# Making predictions using the testing data
predictions = model.predict(X_test_scaled)

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score

# Assuming you have a binary classification problem with classes 0 and 2
y_test = [0, 2, 0, 2, 0, 2]  # Actual class labels
predictions = [0, 2, 0, 0, 2, 2]  # Predicted class labels

# Generate the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 2"], columns=["Predicted 0", "Predicted 2"]
)

# Calculate the accuracy score
acc_score = accuracy_score(y_test, predictions)

print(cm_df)
print("Accuracy Score:", acc_score)

          Predicted 0  Predicted 2
Actual 0            2            1
Actual 2            1            2
Accuracy Score: 0.6666666666666666

In [29]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 2
Actual 0            2            1
Actual 2            1            2

Accuracy Score : 0.6666666666666666
Classification Report
              precision    recall  f1-score   support

           0       0.67      0.67      0.67         3
           2       0.67      0.67      0.67         3

    accuracy                           0.67         6
   macro avg       0.67      0.67      0.67         6
weighted avg       0.67      0.67      0.67         6